<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Nunito:300,700');
table{
font-family: Nunito, Verdana sans-serif;
font-weight: 300;
}
</style>
<table border="0" style="width: 100%; text-align: center; border-collapse: collapse">
	<tbody>
		<tr style="background-color: #5d4bff">
			<td style="width: 130px; height: 50px">&nbsp;</td>
			<td style="width: 130px">&nbsp;</td>
			<td style="width: 130px">&nbsp;</td>
			<td style="width: 130px">&nbsp;</td>
			<td style="width: 130px">&nbsp;</td>
			<td style="width: 130px">&nbsp;</td>
		</tr>
		<tr style="background-color: #5d4bff">
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td colspan="2"><img alt="Plaz" src="https://gallery.mailchimp.com/57178a2701f07fa38f8d0980a/images/d8eb238e-929c-4269-a0c6-7bc77dbeac52.png" style="width: 180px; margin-bottom: 50px" /></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="4" style="background-color: rgb(93, 75, 255);padding: 10px;text-align: center;">
				<font color="#ffffff"><span style="font-size: 16px; background-color: rgb(93, 75, 255);">Recuperación de Contraseña</span></font>
			</td>
			<td colspan="2">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr style="">
			<td>&nbsp;</td>
			<td colspan="4" style=" text-align: left; padding: 1% 3%">
			<p style="margin: 0; font-weight: 700">
				Sigue este enlace para restablecer tu contraseña %APP_NAME% para tu cuenta %EMAIL%.
			</p>
			<p style="margin: 0;text-align: center;">
				<p><a href='%LINK%'>%LINK%</a></p>
			</p>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr style="font-weight: bolder;margin-top:10px;">
			<td style="width: 130px; height: 50px">&nbsp;</td>
			<td colspan="4">
				<p>Si no pidió restablecer su contraseña, puede ignorar este correo electrónico.</p>
				<p>Gracias,</p>
				<p>%APP_NAME%</p>
			</td>
			<td style="width: 130px">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
