<ion-header #pagetop style="background-size: cover; background-image: url({{categoria?.imagen}});">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="ion-text-center">
      <div class="t_opcion">Expertos</div>
    </div>

    <ion-buttons slot="end">
      <ion-button color="light">
        <img src="../assets/imgs/logo.svg" class="logomain" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size="12">
    <div class="productos">
      <div class="producto" *ngFor="let item of medicos"  (click)="VerRecetas(item.id, item.Nota)" >
        <div *ngIf="item.Estado">
          <div class="image_shop"
            [ngStyle]="{'background-image':'url('+item.Imagen+')','background-size':'cover','background-position':'center'}">
          </div>
          <div class="title_shop" style="overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;">{{item.Nombre}}</div>      
        </div>
      </div>
    </div>
  </ion-col>

</ion-content>
