<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Finaliza tu pedido</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="finish">	
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<ion-label color="primary"><b>Comentarios</b></ion-label>
					</div>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<div class="ion-text-center">
						<ion-item>
							<ion-textarea placeholder="Escriba aquí..." [(ngModel)]="payload.comentarios"></ion-textarea>
						</ion-item>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
		<div class="ion-text-center"><ion-label color="primary"><b>Resumen</b></ion-label></div>
		<ion-item class="resumen">
			<ion-label>Costo de productos</ion-label>
			
			<ion-label class="label-end">{{moneda}} {{ unidadNegocio == "2" ? (subtotal | currency:"":"":"1.0") : (subtotal | formatoMoneda) }}</ion-label>
		</ion-item>
		<ion-item class="resumen">
			<ion-label>Costo de transporte</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='2'">{{moneda}} {{ envio | currency:"":"":"1.0" }}</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='3'">Ref: {{envioUSD}} <span><br/>({{moneda}} {{ envio | formatoMoneda }})</span></ion-label>
		</ion-item>
		<ion-item class="resumen">
			<ion-label>Propina</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='2'">{{moneda}} {{ propina | currency:"":"":"1.0" }}</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='3'">Ref: {{propinaActual}}<span><br />({{moneda}} {{ propina | formatoMoneda }})</span></ion-label>
		</ion-item>
		
		<ion-item class="resumen">
			<ion-item>
				<ion-checkbox (ionChange)="addValue($event)" color="primary" [(ngModel)]="check_creditos" id="check_creditos"></ion-checkbox>
			</ion-item>
			<ion-label class="resumen">
				FrutiCoins&nbsp;
				<img width="15" style="z-index: 999;" (click)="modalFruitcoins()" src="http://huerto.plaz.com.co/dist/img/question.svg">
			</ion-label>
			<ion-label class="label-end" style="color: #00ff00;" *ngIf="unidadNegocio ==='2'">{{moneda}} {{ (credito | currency:"":"":"1.0") }}</ion-label><br />
			<ion-label class="label-end" style="color: #00ff00;" *ngIf="unidadNegocio ==='3'">Ref:{{ creditoUSD }}<span><br/> ({{moneda}} {{ (credito | formatoMoneda) }}) </span></ion-label><br />
		</ion-item>
		<ion-item class="resumen total-res">
			<ion-label>Descuento</ion-label>
			<ion-label class="label-end" id="descuento" *ngIf="unidadNegocio ==='2'">{{moneda}} {{ (descuento | currency:"":"":"1.0")  }}</ion-label>
			<ion-label class="label-end" id="descuento" *ngIf="unidadNegocio ==='3'">Ref:{{ credidoUsdDescuento }} <span><br/>({{moneda}} {{ (descuento | formatoMoneda) }})</span></ion-label>
		</ion-item>
		<ion-item class="resumen total-res">
			<ion-label>Total</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='2'">{{moneda}} {{ (total | currency:"":"":"1.0") }}</ion-label>
			<ion-label class="label-end" *ngIf="unidadNegocio ==='3'"><span [hidden]="!referencia_divisa">{{valor_referencia}}</span> <span><br>({{moneda}} {{ (total | formatoMoneda) }})</span></ion-label>
		</ion-item>
		<!-- Tienes un cupon de pago -->
		<ion-row>
			<ion-col size="6">
				<ion-item >
					<ion-label class="cupon-text" position="floating" >Redime un cupón</ion-label>
					<ion-input [(ngModel)]="payload.cupon_id" id="CampoCupon"></ion-input>
				</ion-item>
			</ion-col>
			<ion-col size="6">
				<ion-item >
					<ion-button color="success" size="large" id="buttonCupon" (click)="ValidaCupon()">Validar Cupón</ion-button>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-item>
		</ion-item>
		<ion-item>
			<ion-button color="primary" size="large" [hidden]="sending" (click)="valcheckout()">Enviar Pedido</ion-button>
		</ion-item>
		<ion-item>
		
		</ion-item>
	</div>
</ion-content>