<ion-header>
  <img class="logo" src="assets/imgs/Logo-trans.png"/>
</ion-header>
<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col col-12>
        <!-- <img class="logo" src="assets/imgs/logo.png"/> -->
        <h3 padding class="titulo">Te damos la bienvenida</h3>
        <ion-row>
          <ion-col (click)="MuestraItems()">
            <div class="cont" size="12">
              <ion-row>
                <ion-col size="2">
                  <div id="bandera">
                      <img src="{{BanderaImg}}">
                  </div>
                </ion-col>
                <ion-col size="8">
                  <div>
                    <h4 class="Nombre Ciudad">{{ciudad}}</h4>
                  </div>
                </ion-col>
                <ion-col size="2">
                  <div class="arrow">
                    ▼
                  </div>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

        <ion-row >
          <ion-col>
            <div id="Listado" size="12">
              <ion-row *ngFor="let c of ciudades; let i = index" class="item" (click)="SeleCiudad(i)">
                  <ion-row *ngIf="c.Pais_id === 46">
                    <ion-col size="2">
                      <div id="bandera">
                        <img src="{{c.BanderaImg}}">
                      </div>
                    </ion-col>
                    <ion-col size="8">
                      <div>
                        <h4 class="Nombre Ciudad">{{c.Nombre}}</h4>
                      </div>
                    </ion-col>
                    <ion-col size="2">
                      <div class="arrow">
                      </div>
                    </ion-col>
                  </ion-row>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>

        <div class="botones" [hidden] ="send === false">
          <!-- <div class="skip" (click)="goHome()">Continuar sin registro &#187;</div> -->
          <!-- <p class="skip">Verifica tu número celular</p> -->
          <ion-row>
            <ion-col size="4" (click)="OpenModal()">
              <div>
                <div class="campo indicativo"><img src = "{{BanderaImgIndi}}" />{{indicativo}}&nbsp;▼</div>
              </div>
            </ion-col>
            <ion-col size="8">
              <div>
                <input type="number" class="campo" [(ngModel)]="numeroCel" placeholder="Digita tu número">
              </div>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col>
              <div id="ContIndi">
                <div id="ListadoIndicativos" size="12">
                  <ion-row>
                    <ion-col size="12">
                      <div>
                        <input type="text" class="campo" [(ngModel)]="Filtro" placeholder="Filtrar" (keyup)="Filtrar()">
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let c of Indicativos; let i = index" class="item" (click)="SelecIndicativo(c)">
                    <ion-col size="4">
                      <div id="banderaIndi">
                        <!-- <img src="{{c.flag || }}"> -->
                        <img src='{{ c.flag || sinB }}'/>
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      <div>
                        <p class="Nombre Ciudad"><b><small>{{c.alpha3Code}}</small></b></p>
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      <p class="Nombre Ciudad"><b><small>{{c.callingCodes}}</small></b></p>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <!-- <div class="padding-50">
            <input type="number" class="ion-form-control" [(ngModel)]="numeroCel" placeholder="Ej. 3105555555" maxlength="10" minlength="10" style="width: 100%;">
          </div> -->
          <ion-button size="large" color="primary" class="enviar" (click)="enviaMensaje()">
            Enviar código
          </ion-button>
        </div>

        <hr>

        <div [hidden] ="send === true">
          <p class="skip">Hemos enviado un sms con tu código de verificación, por favor ingresalo</p>
          <!-- <p>{{rnd}}</p> -->
          <div class="padding-50">
            <input type="number" class="campo" [(ngModel)]="codigo" placeholder="" style="width: 100%;" placeholder="Escribe tu código">
          </div>

          <!-- <p class="skip2">¿Tienes un código de referido?</p>
          <p class="skip2"><small>Redime el código de referido y recibe saldo en fruticoins</small></p>
          <div class="padding-50">
            <input type="text" class="ion-form-control" [(ngModel)]="referido" placeholder="" style="width: 100%;">
          </div> -->

          <ion-button size="large" color="primary" (click)="ValidaCodigo()">
            Confirmar
          </ion-button>
          <ion-button size="large" color="primary" (click)="EnviarNuevo()">
            reenviar código
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
</ion-footer>
