<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" (click)="updateBadge()">
      <ion-label>Home</ion-label>
      <ion-icon name="home"></ion-icon>
      <!--<ion-badge>6</ion-badge>-->
    </ion-tab-button>

    <ion-tab-button tab="buscar" (click)="updateBadge()">
      <ion-label>Buscar</ion-label>
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cart" (click)="updateBadge()" [disabled]="nologin">
      <ion-label>Carrito</ion-label>
      <ion-icon name="cart"></ion-icon>
      <ion-badge>{{cart}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="contacto" (click)="updateBadge()">
      <ion-label>Contacto</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
