<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="openMenu()">
                <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
            </ion-button>
        </ion-buttons>


        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-col size="12">
		<ion-searchbar placeholder="Busca Productos" animated type="search" (ionFocus)="setFocus()" (ionBlur)="setBlur()" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
	</ion-col>
	<div class="search-back" [hidden]="searching" [ngStyle]="{'background-image':'url(assets/imgs/search-back.png)','background-size':'cover'}"></div>
	<ion-col size="12">
		<ion-list>
			<ion-item *ngFor="let item of items" (click)="selectBuscar(item.id)">
				<div class="imageBuscar">
					<img src="{{item.imagen}}" alt="imagen" style="width: 100%;">
				</div>
				<ion-label>
					{{ item.nombreEs }}
				</ion-label>
			</ion-item>
		</ion-list>
	</ion-col>

	
</ion-content>
