ion-content {
	.imageBuscar {
		width: 50px;
    	margin-right: 10px;
    	img { border-radius: 4px;  }
	}
	.search-back {
		width: 100%;
	    height: 300px;
	    background-position: bottom;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	}
}