<ion-header>
	<ion-toolbar>
		  <ion-buttons slot="start">
			  <ion-button color="light" (click)="openMenu()">
				  <ion-icon src="assets/icon/ico-menu.svg" size="large"></ion-icon>
			  </ion-button>
		  </ion-buttons>
  
		  <ion-title>
			 <ion-label color="primary">Carrito de Compras</ion-label>
		  </ion-title>
  
		  <ion-buttons slot="end">
			  <ion-button color="light">
				  <img src="../assets/imgs/logo.svg" class="logomain" />
			  </ion-button>
		  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  
  <ion-content padding>
	  <ion-grid>
		  <ion-row>
			  <ion-col size="12">
				  <div class="total_cart main">Subtotal</div>
				  <div class="total_cart total_cart_r">{{moneda}} {{ unidadNegocio == "2" ? (subtotal | currency:"":"":"1.0")  : (subtotal | formatoMoneda) }}</div>
  
				  <!-- <div class="total_cart">Transporte</div>
				  <div class="total_cart total_cart_r">{{envio | currency:"COP$"}}</div>
  
				  <div class="total_cart main">Total</div>
				  <div class="total_cart total_cart_r main">{{total | currency:"COP$"}}</div> -->
			  </ion-col>
			  <ion-col size="12">
				  <ion-button color="primary" (click)="continueCart()">Seleccionar fecha de entrega</ion-button>
				  <ion-button color="primary" fill="outline" (click)="clearCart()">Limpiar Carrito</ion-button>
			  </ion-col>
			  <ion-col size="12">
				  <ion-list *ngFor="let item of finalproductos; let k = index" >
					  <ion-item>
						  <div class="deleteitem">
							  <ion-icon name="close-circle" size="large" (click)="removeCart(k)">
								  eliminar
							  </ion-icon>
						  </div>
						  <div class="col-cart cf">
							  <img src="{{item.imagen}}" alt="">
						  </div>
						  <div class="col-cart ce" (click)="gotoproduct(item.id)">
							  <div class="col-ce full">
										<div class="title_cart">{{item.nombreEs}}  <div *ngIf="item.maduracion || item.categoria!= '10'" class="maduracion">(Maduración :{{maduracioncart[k]}})</div></div>										
									  <div class="price_cart">{{moneda}} {{ unidadNegocio == "2" ? (preciocart[k] | currency:"":"":"1.0")  : (preciocart[k] | formatoMoneda) }}</div>
							  </div>
							  <div class="col-ce c80">
								  <ion-select color="primary" interface="popover" value="{{unittallacart[k]}}" disabled="true">
									  <ion-select-option *ngFor="let item of tallas" value="{{item.id}}">{{item.nombreEs}}</ion-select-option>
								  </ion-select>
							  </div>
							  <div class="col-ce c20">
									  <ion-input type="number" value="{{numcart[k]}}" color="primary" disabled="true"></ion-input>
							  </div>
						  </div>
					  </ion-item>
				  </ion-list>
				  <ion-list *ngIf="(ctrl) === 0">
					<ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1]" animated
							  class="animated flash slow infinite">
					  <ion-label>
						<h3>
						  <ion-skeleton-text width="70%"></ion-skeleton-text>
						</h3>
						<p>
						  <ion-skeleton-text width="100%"></ion-skeleton-text>
						</p>
					  </ion-label>
					  <ion-label slot="end" class="ion-text-right">
						<ion-skeleton-text  width="40px"></ion-skeleton-text>
					</ion-label>
					</ion-item>
				  </ion-list>
			  </ion-col>
		  </ion-row>
	  </ion-grid>
  </ion-content>
  