<ion-header>
  <!-- <ion-title class="ion-text-center" class="titulo">
    <ion-label>Selecciona país <span class="flag-icon flag-icon-gr"></span></ion-label>
  </ion-title> -->
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button color="light" (click)="GoBack()">
          <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
        <ion-button color="light">
            <img src="../assets/imgs/logo.svg" class="logomain" />
        </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div size="12"  class="input">
    <input type="text" class="campo" [(ngModel)]="Filtro" placeholder="Busca tu país" (keyup)="Filtrar()">
  </div>
  <!-- <span [innerHTML]="inner"></span> -->
  <ion-list *ngFor="let d of Indicativos" (click)="SelecIndicativo(d)">
    <ion-item>
      <ion-row>
        <ion-col size="1">
          <img src="{{d?.flag}}" >
        </ion-col>
        <ion-col size="11">
          <ion-label class="">
            {{d?.name}}  <b color="primary">({{d?.callingCodes}})</b>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
