<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="image_propiedades">
	  	<img src="{{producto?.imagen}}"/>
	</div>
	<div class="title_propiedades main">{{producto?.nombreEs}}</div>

	<div class="title_propiedades" padding>Propiedades</div>
	<div class="des_propiedades" padding [innerHtml]="producto?.resumenEs || 'Sin propiedades'">
	</div>

</ion-content>