ion-content {
	.image_propiedades {
		max-width: 200px;
    	margin: 0 auto;
		img { width: 100%; border-radius: 50%; }
	}
	.title_propiedades {
		text-align: left;
	    font-size: 6vw;
	    font-weight: bold;
	    color: var(--ion-color-primary);
	    margin: 10px 0; 
	}
	.main {font-size: 9vw;text-align: center;}
	.des_propiedades {text-align: justify;white-space: pre-wrap}
	ion-button {width: 100%; }
}
