ion-content {
	.addtarjeta {
		width: 100%;
		ion-button {width: 100%;max-width: 100%;}
	}
	.tarjeta {
		ion-label {
			text-align: center;
			color: gray;
		}
	}
	.titulo{
		text-align: center;
		color: var(--ion-color-primary);
		font-weight: bolder;
		font-size: smaller;
	}
	.vertical-center{
		display: flex;
		align-items: center;
		justify-content: center;
		//height: 100%;
	}
	.center {
		display: block;
		margin: auto;
		//width: 70%;
	}
}
