<ion-header #pagetop style="background-size: cover; background-image: url({{categoria?.imagen}});">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="ion-text-center">
      <div class="t_opcion">Detalle</div>
    </div>

    <ion-buttons slot="end">
      <ion-button color="light">
        <img src="../assets/imgs/logo.svg" class="logomain" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="image_shop">
    <img src="{{receta?.Imagen}}" />
  </div>
  <div class="title_shop">{{receta?.Nombre}}</div>
  <div class="receta-description" [innerHTML]="receta?.Descripcion"></div>
  <p class="nota-medico" *ngIf="notaMedico"><span class="nota-medico-importante">**</span> {{notaMedico}}</p>
  <div class="title-route">Tu programa saludable</div>  
  <div class="productos-semana" *ngFor="let semana of semanas" >
    <ion-list class="list" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h6 class="semana">semana: {{semana}}</h6>
          </ion-col>
          <ion-col>
            <h6 class="ver" (click)="addCart(semana)">ver productos</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  <div class="receta-description receta-styles">
    Nota: Mercado y Plaza S.A.S. (PLAZ) no se hace responsable por la eficacia de ninguna
    dieta o sugerencia alimenticia. PLAZ solo es una plataforma tecnológica de venta de alimentos, que facilita espacios
    de comunicación donde se comparten recetas o sugerencias de consumo.
    En caso de cualquier inquietud, consulte a su médico de confianza.
  </div>

</ion-content>