ion-header {
    ion-toolbar {
        height: 15vw;
        display: flex;
    }
    ion-title {
        ion-select {  max-width: 100% !important; }
	}
	.t_opcion {background: #FFF; color: var(--ion-color-primary); font-weight: bolder;}
}
ion-content {
	h6 {
		margin: 0;
	}
	ion-col {
		text-align: center;
	}
	.image_shop {
		max-width: 200px;
    margin: 0 auto;
		img { width: 100%; }
	}
	.title_shop {		
		font-weight: bold;
		text-align: center;
    font-size: 9vw;
    color: var(--ion-color-primary);
	}
	.title-route {
		color: black;
    text-align: left;
    font-size: 5vw;
		font-weight: bold;
		margin-top: 15px;
		margin-bottom: 10px;
	}
	.semana {
		color: black;
	}
	.ver {
		color: var(--ion-color-primary);
		font-weight: bold;
	}

	.list {
		padding: 0px;
		margin-bottom: 0;
	} 

	.productos-semana .list {
		margin-bottom: 5px;
	}

  ion-button {
		width: 100%;
	}

	.nota-medico {
		text-align: justify;
		font-size: 85%;
	}
	
	.nota-medico-importante {
		color: #5D4BFF;
		font-weight: bold;
	}

	.receta-description{
		text-align: justify;
	}
	
	.receta-styles {
		font-style: italic;
    font-size: 11px;
		color: #5D4BFF;
		margin-top: 10px;
	}

	.semana-receta{
		color: var(--ion-color-primary);
	}
	.list .item.item-accordion {
		line-height: 38px;
		padding-top: 0;
		padding-bottom: 0;
		transition: 0.09s all linear;
	}
	.expand-wrapper {
		transition: max-height 0.4s ease-in-out;
		overflow: hidden;
		height: auto;
	}	
	.collapsed {
		max-height: 0 !important;
	}
}