<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>
           <ion-label color="primary">Agregar dirección</ion-label>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size='12'>
      <div class="center">
        <p align="center"><ion-img src="http://huerto.plaz.com.co/dist/img/gps.svg" class="ion-align-self-end" style="width: 80px;"></ion-img></p>
      </div>
      <div class="ion-text-center">
        <ion-label color="primary" class="ion-text-center">Tu dirección actual es <b id="DireccionActual"></b></ion-label>
      </div>
    </ion-col>
  </ion-row>
  <div class="dir_actual" [hidden]="dir_actual == 0">
    <ion-row>
      <ion-col size='12' padding>
        <ion-item>
          <div id="mapInicial" style="width: 100%!important;height: 200px"></div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" class="label">Info. Adicional</ion-label>
          <ion-input [(ngModel)]="Adicional" placeholder="Torre, Apto, Mz, Casa, Edificio" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked" class="label">Indicaciones</ion-label>
          <ion-input [(ngModel)]="Indicaciones" placeholder="Frente A, Al lado de, Vía a" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div>
          <ion-button color="primary" (click)="GeoCode(null)" style="min-width: 100%;">Validar mi ubicación actual</ion-button>
          <div style="width: 100%;" class="ion-text-center">
            <ion-label color="primary">- o -</ion-label>
          </div>
          <ion-button color="primary" (click)="cambiaDir()" style="min-width: 100%;">No, agregar por dirección</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
  
  <div class="dir_manual" [hidden]="dir_manual == 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <!-- <ion-label>{{Ciudad}}</ion-label> -->
              <ion-select color="primary" [(ngModel)]="Ciudad" interface="popover" placeholder="Selecciona">
                <ion-select-option *ngFor="let item of Ciudades" value="{{item.id}}">{{item.nombre}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked" class="label">Dirección</ion-label>
              <ion-input [(ngModel)]="Direccion" placeholder="Ej. Calle 81 # 11 - 68" required type="text"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col size="5">
          <div>
            <ion-item>
              
              <ion-select interface="action-sheet" value="Calle" cancel-text="Cancelar"  [(ngModel)]="Campo2">
                <ion-select-option value="Calle">Calle</ion-select-option>
                <ion-select-option value="Carrera">Carrera</ion-select-option>
                <ion-select-option value="Avenida">Avenida</ion-select-option>
                <ion-select-option value="Avenida Carrera">Avenida Carrera</ion-select-option>
                <ion-select-option value="Avenida Calle">Avenida Calle</ion-select-option>
                <ion-select-option value="Circular">Circular</ion-select-option>
                <ion-select-option value="Circunvalar">Circunvalar</ion-select-option>
                <ion-select-option value="Diagonal">Diagonal</ion-select-option>
                <ion-select-option value="Manzana">Manzana</ion-select-option>
                <ion-select-option value="Transversal">Transversal</ion-select-option>
                <ion-select-option value="Via">Via</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
  
        <ion-col size="2">
          <div>
            <ion-input placeholder="--" style="border-bottom:lightgray 1px solid;padding: 3.5pt!important" [(ngModel)]="Campo3"></ion-input>
          </div>
        </ion-col>
  
        <ion-col size="1">
          <div>
            <ion-label><br>#</ion-label>
          </div>
        </ion-col>
  
        <ion-col size="2">
          <div>
            <ion-input placeholder="--" style="border-bottom:lightgray 1px solid;padding: 3.5pt!important" [(ngModel)]="Campo4"></ion-input>
          </div>
        </ion-col>
  
        <ion-col size="2">
          <div>
            <ion-input placeholder="--" style="border-bottom:lightgray 1px solid;padding: 3.5pt!important" [(ngModel)]="Campo5"></ion-input>
          </div>
        </ion-col> -->
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked" class="label">Info. Adicional</ion-label>
                <ion-input [(ngModel)]="Adicional" placeholder="Torre, Apto, Mz, Casa, Edificio" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-item>
              <ion-label position="stacked" class="label">Indicaciones</ion-label>
                <ion-input [(ngModel)]="Indicaciones" placeholder="Frente A, Al lado de, Vía a" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <div>
            <ion-button color="primary" (click)="ValidarDireccion()" style="min-width: 100%;">Validar</ion-button>
            <div style="width: 100%;" class="ion-text-center" [hidden] = "errperm">
              <ion-label color="primary">- o -</ion-label>
            </div>
            <ion-button color="primary" (click)="cambiaDir()" style="min-width: 100%;" [hidden] = "errperm">Agregar mi ubicación actual</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

  <!-- <div #mapElement class="map" style="height: 100%;"> -->
  <!-- </div> -->

</ion-content>

<!-- Direccion Digitada, direccion Geolocalizada, coordenadas -->