ion-content {
	.user_anonimo {text-align: center;color: gray;}
	.user_anonimo span {text-decoration: underline;color:var(--ion-color-primary);}
	
	.image_shop {
		max-width: 200px;
    	margin: 0 auto;
		img { width: 100%; }
	}
	.title_shop {
		text-align: center;
	    font-size: 9vw;
	    font-weight: bold;
	}
	.rm {float: left;width: 20%;height: 40px;line-height: 40px;text-align: center;background: var(--ion-color-primary);
		border-radius: 12px;
		color: white;}
	.add {float: left;width: 20%;height: 40px;line-height: 40px;text-align: center;background: var(--ion-color-primary);
		border-radius: 12px;
		color: white;}
	.num {float: left;width: 60%;height: 40px;line-height: 40px;text-align: center;font-size: 12vw;color: var(--ion-color-primary)}
	.price_shop {
		text-align: center;
	    font-size: 9vw;
	    color: var(--ion-color-primary);
	}
	.checksboxs {
		position: relative;
		left: 10px;
		ion-item {
			float: left;
			width: 33.33%;
			--inner-border-width: 0;
			ion-label { text-align: center; font-size: 12px; }
			ion-checkbox {
				box-shadow: 0 0 0 6px #c9c9c9;
    			border-radius: 50%;
				--border-radius: 50%;
				margin-left: 6px;
			}
		}
		.linecheckboxl {height: 10px;background: #c9c9c9;width: 100px;position: absolute;top: 45px;left: 50px;}
	    .linecheckboxr {height: 10px;background: #c9c9c9;width: 100px;position: absolute;top: 45px;left: -5px;}
	}
	.units {
		height: 10%;
		ion-item {--inner-border-width: 0;}
		ion-select {
			max-width: 100%;
		    width: 100%;
		    border: 1px solid var(--ion-color-primary);
		    border-radius: 8px;
		    text-align: center;
		    color: var(--ion-color-primary);
		}
		ion-input {    
			border: 1px solid var(--ion-color-primary);
    		border-radius: 8px;
    		text-align: center;
    	}
    	.col-units {
    		float: left;
    		width: 50%;
    		padding: 10px;
    	}
	}
	ion-button {
		width: 100%;
	}
	.otherbuttons {
		h2 {
			font-size: 4vw;
		    text-align: center;
		    color: var(--ion-color-primary);
		}
	}
	.promedio {
		.promedio-producto{ 
			font-size: 4vw;
			text-align: center;
			color: var(--ion-color-primary);
		}
	}
}