<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="image_shop">
	  	<img src="{{producto?.imagen}}"/>
	</div>
	<div class="title_shop">{{producto?.nombreEs}}</div>	
	<div class="price_shop">{{moneda}} {{ unidadNegocio == "2" ? (precio_producto | currency:"":"":"1.0")  : (precio_producto | formatoMoneda) }}</div>
	<div class="checksboxs" [hidden]="maduracion">
		<ion-list style="margin-left: -32px;">
		  <ion-item *ngFor="let item of checkboxs; let i=index" style="padding-left: 0px!important;">
		    <ion-label position="stacked">{{item.val}}</ion-label>
		    <ion-checkbox [(ngModel)]="item.isChecked" (click)="Selection(item);" color="primary"></ion-checkbox>
		    <div class="linecheckboxl"></div>
		    <div class="linecheckboxr"></div>
		  </ion-item>
		</ion-list>
	</div>
	<div class="units">
		<div class="col-units">
	        <ion-select color="primary" #selectunit [(ngModel)]="unit" interface="popover" (ionChange)="onUnitChange(selectunit.value)" placeholder="Selecciona">
	            <ion-select-option *ngFor="let item of inventario"  value="{{item.id}}">{{nameTalla(item.talla)}}</ion-select-option>
	        </ion-select>
		</div>
		<div class="col-units">
			<div class="rm" (click)="rmNum()">-</div> <div class="num">{{num}}</div> <div class="add" (click)="addNum()">+</div>
			<!-- <ion-input type="number" #numproducto value="1" color="primary" [(ngModel)]="num" (ionChange)="onNumChange(numproducto.value)"></ion-input> -->
		</div>			
	
	</div> 
	<div class="promedio" *ngIf="promedio"> 
		<h2 class="promedio-producto">*Equivale a {{ promedio * num | number : '1.2-2'}} {{ unidadEquivalencia }} aprox.</h2> 	
	</div>

	<ion-button [color]="cartcolor" (click)="addCart(producto?.id)"  [disabled]="nologin">
	    {{carttext}} <ion-icon src="assets/icon/ico-carrito-inv.svg"></ion-icon>
	</ion-button>
	<div class="user_anonimo" *ngIf="nologin">Estás navegando como usuario invitado, para poder comprar debes <span (click)="goLog()">iniciar sesión</span>.</div>

	<div class="otherbuttons" *ngIf="ocultarPropiedades == 'false'">
		<h2>También te puede interesar</h2>
		<ion-row>
			<ion-col size="6" (click)="goProp(producto?.id)">
				<ion-button color="primary" fill="outline">Propiedades</ion-button>
			</ion-col>
			<ion-col size="6" (click)="goRecetas(producto?.id)">
				<ion-button color="primary" fill="outline">Recetas</ion-button>
			</ion-col>
		</ion-row>
	</div>
	<div class="otherbuttons" *ngIf="ocultarPropiedades == 'true'">
		<h2>También te puede interesar</h2>
		<ion-row>
			<ion-col size="12" (click)="goProp(producto?.id)">
				<ion-button color="primary" fill="outline">caracteristicas</ion-button>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
