<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goBack()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-label color="primary"><b>Confirma tus datos</b></ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <div class="ion-text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/plazapp-test/o/user.svg?alt=media&token=593d7587-8a14-4431-b8a2-2f1724945335"
                        width="40">
                </div>
            </ion-col>
            <ion-col size="8">
                <div>
                    <ion-item>
                        <ion-label position="stacked" class="label">Nombre<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input [(ngModel)]="Nombre" placeholder="Nombre" type="text"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <div class="ion-text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/plazapp-test/o/smartphone.svg?alt=media&token=f6dc0974-cf42-4d8b-9820-009faf824031"
                        width="40">
                </div>
            </ion-col>
            <ion-col size="8">
                <div>
                    <ion-item>
                        <ion-label position="stacked" class="label">Celular<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input [(ngModel)]="Celular" placeholder="Celular" type="number"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="4">
                <div class="ion-text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/plazapp-test/o/email.svg?alt=media&token=5be63fee-b0e4-496d-9609-708c4a754b9d"
                        width="40">
                </div>
            </ion-col>
            <ion-col size="8">
                <div>
                    <ion-item>
                        <ion-label position="stacked" class="label">Correo<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input [(ngModel)]="Correo" placeholder="Correo" type="text"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row padding>
            <ion-col class="ion-text-center">
                <div>
                    <ion-label color="primary"><b>Datos para tu factura</b></ion-label>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
                <div class="ion-text-center">
                    <img src="https://firebasestorage.googleapis.com/v0/b/plazapp-test/o/identification.svg?alt=media&token=0f27a817-3360-40ac-9f8d-a8a225cffec0"
                        width="40">
                </div>
            </ion-col>
            <ion-col size="5">
                <div>
                    <ion-item>
                        <ion-label position="stacked" class="label">Tipo documento<ion-text color="danger">*</ion-text></ion-label>
                        <ion-select interface="action-sheet" value="1" cancel-text="Cancelar"  [(ngModel)]="TipoDocumento">
                            <ion-select-option value="1">Cédula</ion-select-option>
                            <ion-select-option value="2">Pasaporte</ion-select-option>
                            <ion-select-option value="3">Cédula Extranjería</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col>
            <ion-col size="5">
                <div>
                    <ion-item>
                        <ion-label position="stacked" class="label">Número<ion-text color="danger">*</ion-text></ion-label>
                        <ion-input [(ngModel)]="Documento" placeholder="Documento" type="text"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>

        <ion-row padding>
            <ion-col class="ion-text-center">
                <div>
                    <ion-label color="primary"><b>Selecciona tu dirección</b></ion-label>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-text-center">
                <div>
                    <ion-item>
                        <ion-select interface="action-sheet" value="1" class="selectBig" cancel-text="Cancelar"  [(ngModel)]="Direccion">
                            <ion-select-option *ngFor="let item of address"  value="{{item.id}}~{{item.direccion}}">{{item.direccion}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <a (click)="AgregarDirecion()">Agregar Dirección</a>
                </div>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row>
            <ion-col>
                <div class="ion-text-center">
                    <ion-button size="large" (click)="ValidaInfo()" id="Confirma">Selecciona medio de pago</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>