<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="goIntro()">
                <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="light">
                <img src="../assets/imgs/logo.svg" class="logomain" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<span style="height: 100%" [hidden] = "correo === true">
    <ion-content>
        <ion-grid>
            <ion-row padding>
                <ion-col size="12">
                    <h4 class="title">¿Cuál es tu correo electrónico?</h4>
                </ion-col>
                <ion-col size="12"> 
                    <ion-item>                                   
                        <ion-input color="primary" type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
                    </ion-item>
                    <!-- <ion-item>                          
                        <ion-input color="primary" type="text" placeholder="Nombres" [(ngModel)]="name"></ion-input>
                    </ion-item>
                    <ion-item>                          
                        <ion-input color="primary" type="text" placeholder="Apellidos" [(ngModel)]="lastname"></ion-input>
                    </ion-item>
                    <ion-item>                                   
                        <ion-input color="primary" type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
                    </ion-item>
                    <ion-item>                                   
                        <ion-input color="primary" type="tel" placeholder="Teléfono" [(ngModel)]="tel" readonly></ion-input>
                    </ion-item>-->
                </ion-col> 
                <ion-col size="12">
                    <ion-button fill="outline" (click)="ValidaCorreo()">Continuar</ion-button>
                    <!-- <p>Al inscribírte, accedes a los <span (click)="goTerminos()">términos y condiciones</span></p>   -->
                </ion-col> 
                <!-- <ion-col size="12">
                    <ion-button size="small" color="fb" (click)="fbLogin()">Entra con Facebook</ion-button>
                    <ion-button size="small" color="gm" (click)="googleLogin()">Entra con Google+</ion-button>
                </ion-col> -->
                <!-- <ion-col size="12">
                    <ion-button size="small" fill="outline" (click)="goLog()">Iniciar sesión</ion-button>
                </ion-col>  -->
            </ion-row>
        </ion-grid>
    </ion-content>
</span>

<span style="height: 100%" [hidden] = "nombre === true">
    <ion-content>
        <ion-grid>
            <ion-row padding>
                <ion-col size="12">
                    <h4 class="title">¿Cuál es tu nombre?</h4>
                </ion-col>
                <ion-col size="12"> 
                    <ion-item size = "6">                          
                        <ion-input color="primary" type="text" placeholder="Nombre" [(ngModel)]="name"></ion-input>
                    </ion-item>
                    <ion-item size = "6">                          
                        <ion-input color="primary" type="text" placeholder="Apellido" [(ngModel)]="lastname"></ion-input>
                    </ion-item>
                </ion-col> 
                <ion-col size="12">
                    <!-- <ion-button fill="outline" (click)="ValidaNombre()">Continuar</ion-button> -->
                    <ion-button fill="outline" (click)="ValidaReferido()">Continuar</ion-button>
                    <p>Al inscribírte, accedes a los <span (click)="goTerminos()">términos y condiciones</span></p>
                </ion-col> 
            </ion-row>
        </ion-grid>
    </ion-content>
</span>

<span style="height: 100%" [hidden] = "codigo === true">
    <ion-content>
        <ion-grid>
            <ion-row padding>
                <ion-col size="12">
                    <h4 class="title">¿Tienes un código referido?</h4>
                    <h6 class="title">*Este código no es obligatorio, si no tienes uno, continua con tu proceso</h6>
                </ion-col>
                <ion-col size="12"> 
                    <ion-item>
                        <ion-input color="primary" type="text" placeholder="Código referido" [(ngModel)]="referido"></ion-input>
                    </ion-item>
                </ion-col> 
                <ion-col size="12">
                    <ion-button fill="outline" (click)="ValidaReferido()">Continuar</ion-button>
                    <p>Al inscribírte, accedes a los <span (click)="goTerminos()">términos y condiciones</span></p>  
                </ion-col> 
            </ion-row>
        </ion-grid>
    </ion-content>
</span>