<ion-header #pagetop style="background-size: cover; background-image: url({{categoria?.imagen}});">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="goBack()">
        <ion-icon src="assets/icon/ico-back.svg" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="ion-text-center">
      <div class="t_opcion">Programas</div>
    </div>

    <ion-buttons slot="end">
      <ion-button color="light">
        <img src="../assets/imgs/logo.svg" class="logomain" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-col size="12">
    <div class="productos">
      <div class="producto" *ngFor="let item of recetas"  (click)="Descripcion(item)" >
        <div class="image_shop"
          [ngStyle]="{'background-image':'url('+item.Imagen+')', 'background-position':'center'}">
        </div>
        <div class="title_shop">{{item.Nombre}}</div>
        <div class="price_shop">Duracion: {{item.Semanas}} semanas</div>
        <ion-button padding size="small" color="primary" class="add">
          Ver Detalle <ion-icon src="assets/icon/ico-carrito-inv.svg"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-col>

</ion-content>
